@{
     ViewBag.Title = "Profilul Meu";
}

<h2 class="text-success">Profilul tãu</h2>

<div class="mt-4">
     <ul class="list-group">
          <li class="list-group-item">
               <a href="/Profile/Edit"><i class="bi bi-pencil"></i> Editare profil</a>
          </li>
          <li class="list-group-item">
               <a href="/Favorites"><i class="bi bi-star"></i> Produse favorite</a>
          </li>
          <li class="list-group-item">
               <a href="/Orders/MyOrders"><i class="bi bi-box"></i> Istoric comenzi</a>
          </li>
          <li class="list-group-item">
               <a href="/Comments/MyComments"><i class="bi bi-chat-left-text"></i> Comentariile mele</a>
          </li>
     </ul>
</div>
