@model List<GardenShop2.Domain.Model.Product>
@{
     ViewBag.Title = "Gestionare Produse";
}

<h2 class="text-success">Gestionare Produse</h2>
<a class="btn btn-success mb-3" href="/Admin/AddProduct">Adaugă Produs Nou</a>

<table class="table table-bordered table-striped">
     <thead>
          <tr>
               <th>Nume</th>
               <th>Categorie</th>
               <th>Preț</th>
               <th></th>
          </tr>
     </thead>
     <tbody>
          @foreach (var p in Model)
          {
               <tr>
                    <td>@p.Name</td>
                    <td>@p.Category</td>
                    <td>$@p.Price</td>
                    <td>
                         <a href="/Admin/DeleteProduct/@p.Id" class="btn btn-danger btn-sm">Șterge</a>
                    </td>
               </tr>
          }
     </tbody>
</table>
